*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: var(--font-size-base);
}

html {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
}

body {
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
}

.visually-hidden {
  display: none;
}
